@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

input:valid {color:green;}
input:invalid {color:red;}

body {
    background-color: #e0e0e0;
}

form {
    width: 100%;
    background-color: #bec8fa;
    padding: 30px;
}

.container {
    display: block;
    width: 60%;
    margin: 0 auto 0 auto;
}

input {
    width: 95%;
    height: 20px;
    border: none;
    margin: 10px 0;
    padding: 5px;
    border: unset;
    border-bottom: 1px solid #0e0e2f;
    outline: none;
    font-family: 'Marmelad', sans-serif;

}

fieldset {
    border: none;
    border-top: 2px solid #0021ff;
    margin: 10px 0 20px 0;
    background-color: #ffffff;
    padding: 10px;
}

fieldset>fieldset {
    padding: 10px;
    border-top: 2px solid #000c5a;
}

fieldset>legend {
    font-size: 1em;
}

#data, .butt {
    border: none;
}

.butt {
    background-color: #0035ff;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.butt span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.butt span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.butt:hover span {
    padding-right: 25px;
}
.butt:hover span:after {
    opacity: 1;
    right: 0;
}

#data {
    margin-top: 10px;
    box-shadow: none;
}

label {
    font-family: 'Jost', sans-serif;
}

input:hover{
    box-shadow: 0 1px 1px #0021ff;
}

input:focus{
    border: 1px solid #0229f5;
    box-shadow: 0 1px 1px #0021ff;
}

